<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <p th:unless="${genre}">Genre ID not found</p>


    <table class="table">

        <tr>
            <th><a th:href="@{/genre/{gen}?sortBy=name(gen=${genre.id})}">Song Name</a></th>
            <th><a th:href="@{/genre/{gen}?sortBy=tempo(gen=${genre.id})}">Tempo</a></th>
            <th><a th:href="@{/genre/{gen}?sortBy=mkey(gen=${genre.id})}">Key</a></th>
        </tr>

        <tr th:each="song : ${genre.songs}">
            <td th:text="${song.name}"></td>
            <td th:text="${song.tempo}"></td>
            <td th:text="${song.mkey}"></td>
        </tr>
    </table>
</div>
</body>
</html>